/* universal selector*/
*{
  margin: 0;
  /* padding: 0; */
  /* box-sizing: border-box; */
  /* text-align: center; */
  
}

/* tag selector */


/* 
body{
    background-color: red;
} */

p{
    background-color: green;
    margin: 5px;
}

h1{
    background-color: black;
    color: white;
}

/* id selectors */

#Heading2{
    color: brown;
    background-color: aquamarine;
}

#block{
    color: blue;
}

/* class selectors */
.inline{
    color: yellow;
    font-weight: 900;
}

/* attribute selectors */

[Ari]{
    background-color: pink;
    border-radius:10px ;
    margin: 15px;
}

/* precedence of styling or importance */

/* *{
    background-color: blue;
}

header{
    background-color: green;
} */



/* #header{
    background-color: pink;
} */

/* .header{
    background-color: green;
}

[header]{
    background-color: brown;
} */

.header{
    background-color: green;
}

.header:hover{
    background-color: blue;
    color: red;
}


a{
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

a:link{
    text-decoration: none;
    color: aqua;
}

a:visited{
    color: red;
}

a:active{
    color: yellow;
}

div{
    font-size: 30px;
}

span{
    text-decoration: line-through;
}

ul > li > footer {
    color: black;
}

ul{
    background-color: red;
}

ol div:only-child{
    background-color: blue;
}

ul:last-child{
background-color: aqua;
}
div ari:only-of-type{
background-color: red;
}
